In [209]:
# importation des bibliotheques
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [210]:
commerce=pd.read_csv("./data/datacamp_workspace_export_2022-10-27 10_53_34.csv")

In [211]:
commerce.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    2500 non-null   object
 1   StockCode    2500 non-null   object
 2   Description  2490 non-null   object
 3   Quantity     2500 non-null   int64
 4   InvoiceDate  2500 non-null   object
 5   UnitPrice    2500 non-null   float64
 6   CustomerID   1919 non-null   float64
 7   Country      2500 non-null   object
dtypes: float64(2), int64(1), object(5)
memory usage: 156.4+ KB

In [212]:
commerce.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/10 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/10 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/10 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/10 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/10 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/10 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/10 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/10 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/10 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/10 8:34,1.69,13047.0,United Kingdom

In [213]:
commerce.describe(include='all')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
count,2500,2500,2490,2500.000000,2500,2500.000000,1919.000000,2500
unique,138,1175,1167,NaN,117,NaN,NaN,7
top,536544,22632,HAND WARMER SCOTTY DOG DESIGN,NaN,12/1/10 14:32,NaN,NaN,United Kingdom
freq,527,19,18,NaN,528,NaN,NaN,2341
mean,NaN,NaN,NaN,10.065200,NaN,3.701044,15637.112559,NaN
std,NaN,NaN,NaN,29.139317,NaN,12.328907,1848.418705,NaN
min,NaN,NaN,NaN,-24.000000,NaN,0.000000,12431.000000,NaN
25%,NaN,NaN,NaN,1.000000,NaN,1.250000,14307.000000,NaN
50%,NaN,NaN,NaN,3.000000,NaN,2.510000,15605.000000,NaN
75%,NaN,NaN,NaN,10.000000,NaN,4.210000,17841.000000,NaN
max,NaN,NaN,NaN,600.000000,NaN,569.770000,18229.000000,NaN

In [214]:
commerce.shape

(2500, 8)

In [215]:
T=commerce["StockCode"]
print(commerce["StockCode"])

0       85123A
1        71053
2       84406B
3       84029G
4       84029E
         ...
2495     20761
2496     20780
2497     20846
2498     20914
2499     20931
Name: StockCode, Length: 2500, dtype: object

In [216]:
print(commerce["CustomerID"])

0       17850.0
1       17850.0
2       17850.0
3       17850.0
4       17850.0
         ...
2495        NaN
2496        NaN
2497        NaN
2498        NaN
2499        NaN
Name: CustomerID, Length: 2500, dtype: float64

change nan to 0

In [217]:
commerce["StockCode"] = commerce["StockCode"].fillna(0.0)
commerce["CustomerID"] = commerce["CustomerID"].fillna(0.0)

In [218]:
print(commerce["StockCode"])

0       85123A
1        71053
2       84406B
3       84029G
4       84029E
         ...
2495     20761
2496     20780
2497     20846
2498     20914
2499     20931
Name: StockCode, Length: 2500, dtype: object

In [219]:
print(commerce["Country"].unique())

['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE']

In [220]:
Max_prix=commerce["UnitPrice"].max()

In [221]:
commerce[commerce["UnitPrice"]==Max_prix]["CustomerID"]

1814    0.0
Name: CustomerID, dtype: float64

In [222]:
Quantity = commerce.groupby('Country')['Quantity'].sum()
Quantity

Country
Australia           107
EIRE                243
France              449
Germany             117
Netherlands          97
Norway             1852
United Kingdom    22298
Name: Quantity, dtype: int64

In [223]:
Country = commerce.groupby('Country').count()
Country

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID
Country,,,,,,,
Australia,14,14,14,14,14,14,14
EIRE,21,21,21,21,21,21,21
France,20,20,20,20,20,20,20
Germany,29,29,29,29,29,29,29
Netherlands,2,2,2,2,2,2,2
Norway,73,73,73,73,73,73,73
United Kingdom,2341,2341,2331,2341,2341,2341,2341

In [224]:
# iii = pd.DataFrame({"Quantity": Quantity,
#                         "Country": Country,
#                         "%": round(100*Quantity / Country,1)})
# iii

In [225]:
Quantity = commerce.groupby('Country')['CustomerID'].count()
Quantity

Country
Australia           14
EIRE                21
France              20
Germany             29
Netherlands          2
Norway              73
United Kingdom    2341
Name: CustomerID, dtype: int64

In [226]:
Date_Quantity = commerce.groupby('InvoiceDate')['CustomerID'].count()
Date_Quantity

InvoiceDate
12/1/10 10:03    14
12/1/10 10:19    24
12/1/10 10:24     7
12/1/10 10:29    10
12/1/10 10:37     1
                 ..
12/1/10 9:53     13
12/1/10 9:56      7
12/1/10 9:57      3
12/1/10 9:58      5
12/1/10 9:59     14
Name: CustomerID, Length: 117, dtype: int64

In [227]:
print(type(Quantity))
Quantity_list=Quantity.tolist()
Date_Quantity_list = Date_Quantity.tolist()

<class 'pandas.core.series.Series'>